html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
}

body {
    font-size: 1.8rem;
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(to right, rgb(14, 164, 252), rgb(126, 210, 212), rgb(14, 164, 252));
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

p {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

span{
    color: red;
}

ul{
    list-style: none;
    padding: 0;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}



/*LOGIN*/
.contenedor-login{
    background: linear-gradient(to right, rgb(14, 164, 252), rgb(126, 210, 212), rgb(14, 164, 252));
    height: 100vh;
    width: 100%;
    position: relative;
    /* display: none; */
}


.contenido-login{
    background: rgb(4, 129, 187);
    border: solid #000 .2rem;
    border-radius: 1rem;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 35rem;
    height: 25rem;
    padding: 15rem 3rem;
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-titulo{
    position: relative;
    width: 100%;
   
}

.ayuda{
    position: absolute;
    top: -3px;
    right: 0;
    cursor: pointer;
}

.titulo-login h3{
    color: #fff;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-align: center;
}



.contenido-formulario-login{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.contenedor-usuario{
    margin-bottom: 2rem;
}

.contenedor-usuario input{
    margin-left: 2rem;
}

.btn-login button{
    margin-top: 3rem;
    padding: 2rem 4rem;
    background: rgb(255, 255, 255);
    border-radius: 1rem;
    cursor: pointer;
    text-transform: uppercase;
}



/*POP UP**/

.contenedor-popup{
   background: rgba(0, 0, 0, .5);
   position: relative;
   width: 100%;
   height: 100%;
   display: none;
}

.contenido-popup{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 35rem;
    height: 25rem;
    background: rgb(212, 209, 209);
    margin: auto;
    border: solid .2rem #000;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.contenido-ayuda p{
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

.btn-cerrar-ayuda{
    margin-top: 5rem;
}

.btn-cerrar-ayuda button{
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 2.5rem;
}

.btn-cerrar-ayuda button:hover{
    background: red;
    transition: .5s;
}

/*---------------------------------------------------------------------------------------------------------------*/


/*JUEGO*/

.contenido-juego{
    display: none;
    position: relative;
}

.header h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-top: 0;
    padding-top: 5rem;
}


.btn-jugar{
    text-align: center;
    margin: 20rem auto 30rem auto;
    cursor: pointer;
    transition: .3s;
    width: 30rem;
    /* display: none; */
}

.btn-jugar:hover{
    background-color: #000;
    color: #fff;
}
.btn-jugar h2{
    padding: 2rem 4rem;
    border: solid .3rem #000;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
}

.main-juego{
    display: none;
}

/*PUNTAJE*/
.contenedor-puntaje{
    text-align: center;
    color: #fff;
    margin-bottom: 7rem;
}

.contenedor-jugadores{
    display: flex;
    justify-content: space-between;
}

/*Sección PJ*/
.contenedor-jugador{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-principal img{
    width: 15rem;
    margin-top: 3rem;
}

.seleccion-img{
    margin-top: 5rem;
}
.seleccion-img img{
    margin-right: 2rem;
    width: 10rem;
    cursor: pointer;

}

.seleccion-img img:last-child{
    margin-right: 0;
}

.contenedor-aviso h2{
    text-transform: uppercase;
}



/*PUNTAJES ANTERIORES*/
.contenedor-puntajes-anteriores{
    margin-top: 10rem;
    text-align: center;
    display: none;
}

.contenido-puntajes-anteriores h3{
    margin-bottom: 2rem;
}

/*FOOTER*/
.footer{
    margin-top: 5rem;
}
.footer p{
    text-align: center;
    padding: 2rem 0;
    background-color: #ccc;
    
}


/*GAME OVER*/
.contenedor-gameover{
  position: absolute;
  background: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.contenido-gameover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: solid .2rem #000;
    background: rgba(0, 0, 0, .5);
}

.contenido-gameover h2{
    color: rgb(11, 202, 11);
}

.contenido-gameover p{
    padding: 2rem 4rem;
    color: #fff;
    border: solid .2rem #000;
    cursor: pointer;
    margin-top: 5rem;
    transition: .3s;
}

.contenido-gameover p:hover{
    background: #fff;
    color: #000;
}
